table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table td .items {
    min-width: 500px;
}

table tbody tr:nth-child(odd) {
    background-color: #f1f1f1;
}

table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

table td.total,
table th.total {
    min-width: 100px;
}

.warning {
    color: red;
}

button {
    min-width: 80px;
    min-height: 30px;
}
